<%= form_with(model: @article_module) do |form| %>
  <div class="row">
    <div class="d-flex flex-column">
      <div class="form-floating mb-3">
        <%= form.text_field :name, class: "form-control", id: "floatingName", placeholder: "Name" %>
        <%= form.label :name, for: "floatingName" %>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
<% end %>
